{% extends 'base.html' %}

{% block content %}
    <h1>My Favorite Musics.</h1>
    {% if object_list %}
    {{object_list}}
        <ul>
            {% for music in objcet_list %}
                <li>
                    <a href="{% url 'music_detail' music.num %}">{{ music.title }}</a>
                    <p><strong>Difficulty</strong> : Easy: {{music.easy.Difficulty}}, Normal: {{music.normal.Difficulty}}, Hard: {{music.hard.Difficulty}}, Expert: {{music.expert.Difficulty}}, Master: {{music.master.Difficulty}}</p>
                    <hr>        
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> your musics list is empty. </p>
    {% endif %}
{% endblock %}